.hero {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/teamWhite.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  grid-template-columns: 9.58% 9.84% 20.99% 2.55% 47.45% 9.58%;
  grid-template-rows: 12.9% 12% 6.5% 55% 12.9%;
  grid-template-areas: ". .    .    . .    ."
                       ". logo .    . .    ."
                       ". .    .    . .    ."
                       ". team team . text ."
                       ". .    .    . .    .";
}

.logo {
  grid-area: logo;
  max-width: 100%;
  max-height: 100%;
}

.h1 {
  display: none;
}

.recruitingText {
  grid-area: text;
  align-self: end;
  font-size: 6vw;
  margin-bottom: 0;
}

.adjective {
  color: #0F96F5;
}

.animatedTeam {
  grid-area: team;
  align-self: end;
  margin-bottom: 0;
  max-height: 100%;
  max-width: 100%;
}

.spacer {
  width: 100vw;
  height: 32vh;
  background-image: url('../assets/teamColor.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
