.hero {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/duotone.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 6% 10% 28% 50% 6%;
  grid-template-areas:
    '. . .'
    '. . .'
    '. logo .'
    '. text .'
    '. . .';
}

@media all and (min-width: 839px) {
  .hero {
    grid-template-columns: 9.58% 9.84% 20.99% 2.55% 47.45% 9.58%;
    grid-template-rows: 12.9% 12% 6.5% 55% 12.9%;
    grid-template-areas:
      '. . . . . .'
      '. logo logo . . .'
      '. logo logo . . .'
      '. text text text text .'
      '. . . . . .';
  }

  .hero .logoLink {
    text-align: left;
  }
}

.logoLink {
  grid-area: logo;
  text-align: center;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.h1 {
  display: none;
}

.recruitingText {
  color: #fff;
  grid-area: text;
  align-self: end;
  font-size: 7vh;
  margin-bottom: 1vh;
}

@media all and (min-width: 839px) {
  .recruitingText {
    font-size: 8vw;
    margin-bottom: 0;
  }
}

.adjective {
  color: #0F96F5;
}

.animatedTeam {
  grid-area: team;
  align-self: end;
  margin-bottom: 0;
  max-height: 100%;
  max-width: 100%;
}

.window {
  width: 100vw;
  height: 48vh;
  background-image: url('../assets/regular.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.content {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    '. text        .'
    '. pseudoTable .';
  padding: 6% 0 3%;
}

.content h2 {
  margin-top: 2.34615rem;
}

.content h2:first-of-type {
  margin-top: 0;
}

@media all and (min-width: 839px) {
  .content {
    grid-template-columns: 9.58% 80.84% 9.58%;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      '. text        .'
      '. pseudoTable .';
  }
}

.text {
  grid-area: text;
}

.pseudoTable {
  grid-area: pseudoTable;
}

@media all and (min-width: 839px) {
  .pseudoTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'design    hackerExperience'
      'marketing sponsorship     '
      'tech      .               ';
  }

  .pseudoTable > div {
    padding: 0 1rem;
  }
}

.design {
  grid-area: design;
}

.hackerExperience {
  grid-area: hackerExperience;
}

.marketing {
  grid-area: marketing;
}

.sponsorship {
  grid-area: sponsorship;
}

.tech {
  grid-area: tech;
}

.apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6% 0;
  background-image: url('../assets/duotone.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.apply > h2 {
  color: #FFFFFF;
}

.apply a:hover {
  cursor: pointer;
}
