.Button {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 700;
  background: transparent;
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.175rem 2.75rem;
  line-height: 1.5;
  border-radius: 1.25rem;
  border: 2px solid #FFFFFF;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Button:hover {
  color: #0E397A;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
