.Button {
  background: transparent;
  color: #0F96F5;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.175rem 2.75rem;
  line-height: 1.5;
  border-radius: 2rem;
  border: 2px solid #0F96F5;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Button:hover {
  color: #FFF;
  background-color: #0F96F5;
  border-color: #0F96F5;
  text-decoration: none;
  cursor: pointer;
}
